{% extends 'layout.html' %}
{% block content %}
<div class="row container-lg mt-3 bg-body-tertiary border border-secondary-subtle rounded w-50 mx-auto pt-5 px-5 pb-4">
    <h1 class="display-3 pb-2">Анализатор страниц</h1>
    <h2 class="lead pb-2">Бесплатно проверяйте сайты на SEO-пригодность</h2>
    <form action={{ url_for("add_url") }} class="d-flex justify-content-center" method="post">
            <label for="Input website" class="visually-hidden">
                Website
            </label>
            <input type="text" required class="form-control form-control-lg" placeholder="https://www.example.com" name="url">
            <input type="submit" class="btn btn-primary btn-lg px-5 text-uppercase mx-3" value="Проверить" />
    </form>
</div>
{% endblock %}

